Package: dev.callmeecho.rounded
Name: Rounded
Version: 0.0.1
Architecture: iphoneos-arm
Description: Do you hate sharp edges with your very soul? This tweak is for you.
Maintainer: CallMeEcho
Author: CallMeEcho
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
